.container-login100 {
  width: 100%;  
  min-height: 570vh;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  position: relative;
  background-color: #fff;
}

.login100-form-title {
  font-family: Roboto-Regular;
  font-size: 26px;
  color: #3841f5;
  line-height: 0.2;
  display: block;
  position: relative;
  width: 100%;
  margin-top: 10px;
  margin-left: 170px;
  padding-top: 50px;
  padding-bottom: 19px;
}

.text {
  position: absolute;
  padding: 0px 180px;
  top: 30px;
  left: -20px;
  font-family: Roboto-Regular;
}

.text2 {
  font-weight: bold;
  text-decoration: underline;
  font-family: Roboto-Regular;
  font-size: 19px;
}

.text3 {
  font-weight: bold;
  font-family: Roboto-Regular;
  font-size: 18px;
  padding-bottom: 6px;
}

.text4 {
  font-weight: bold;
  font-family: Roboto-Regular;
  font-size: 21px;
  padding-top: 6px;
  padding-bottom: 7px;
  color: #3D3939;
}

.instructions{
    display: list-item;
    position: absolute;
}

ul.breadcrumb {
  margin-left: 150px;
  margin-top: 30px;
  padding: 10px 16px;
  list-style: none;
  background-color: #fff;
}

/* Display list items side by side */
ul.breadcrumb li {
  display: inline;
  font-size: 16px;
  font-family: Roboto-Regular;
}

/* Add a slash symbol (/) before/behind each list item */
ul.breadcrumb li+li:before {
  padding: 8px;
  color: black;
  content: "/\00a0";
}

ul.breadcrumb li a {
  color: #0275d8;
  text-decoration: none;
}

ul.breadcrumb li a:hover {
  color: #01447e;
  text-decoration: underline;
}


